.Main{


}
.Table {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.TableText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 150px;
    width: 265px;
}