.Table {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.TableText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    height: 80px;
    width: 350px;
}
.Buttons {
    display: flex;
    justify-content: space-between;
}